@import "../variables.color/variables.color.scss";
@import "../variables.color/variables.fonts.scss";
@import "../button.styles.scss/Button.styles.scss";
@import "../input.styles/input.styles.scss";

.admin-news {
    display: flex;

    &-content {
       // width: 60%;
    }
    
}