@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;700;900&display=swap");
$admin-title: "Roboto", sans-serif;
$admin-menu: "Roboto Condensed", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");
$users-main-title: "Tinos", serif;

$h2-size: 2.4em;
$h3-size: 1.8em;
$h4-size: 1.2em;

