// -----responsive------------
@mixin respondTo($_media) {
  @if $_media == phones {
    @media all and (max-width: 479px) {
      @content;
    }
  } @else if $_media == wide-phones {
    @media all and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  } @else if $_media == tablets {
    @media all and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $_media == small-desktops {
    @media all and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $_media == lg-desktops {
    @media all and (min-width: 1200px) and (max-width: 1620px) {
      @content;
    }
  } @else if $_media == xlg-desktops {
    @media all and (min-width: 1620px) and (max-width: 1920px) {
      @content;
    }
  }
}

@mixin max-width {
  @include respondTo(xlg-desktops) {
    max-width: 1550px;
    margin: 0 auto;
  }
  @include respondTo(lg-desktops) {
    max-width: 1400px;
    margin: 0 auto;
  }
  @include respondTo(small-desktops) {
    max-width: 1170px;
    margin: 0 auto;
  }
}
