@import "../variables.color/variables.color.scss";
@import "../variables.color/variables.fonts.scss";
@import "../variables.color/variables.mixins.scss";
@import "../button.styles.scss/Button.styles.scss";

.main-news-single {
    &-button {
        color: $users-button-bg;
        background: none;
        border: none;
        font-size: $h4-size;
        text-transform: uppercase;
        i {
            margin-right: .4em;
            font-size: $h3-size;
        }
    }

    &-body {
        &-content {
            display: flex;
            justify-content: space-between;            
        }
    }
}